@import "tailwindcss";

html, body {    /* max-width: auto; */
    overflow-x: hidden;
    /* font-family: 'Inter'; */
  }

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.text-gradient {
  background: linear-gradient(135deg, #4B6CEB, #9159B7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.glass-effect {
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.pulse-glow {
  box-shadow: 0 0 20px rgba(145, 89, 183, 0.5);
  animation: pulse 2s infinite;
}

/* .scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
} */
