@import "tailwindcss";

html, body {
    /* max-width: auto; */
    overflow-x: hidden;
    /* font-family: 'Inter'; */
  }

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}